.popx-modal-wrap {
	visibility: hidden;
    opacity: 0;
    transition: all .4s;
    z-index: 9999999;
}
.popx-modal-open  {
	visibility: visible;
    opacity: 1;
}
.popx-modal-bg-overly {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
}
.popx-modal-top-inner {
	position: absolute;
	max-width: 500px;
	top: 50%;
	transform: translate(-50%, -50%) !important;
	left: 50%;
}
.popx-modal-close {
    position: absolute;
    top: -15px;
    right: -13px;
    cursor: pointer;
    height: 28px;
    width: 28px;
    background: red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.popx-modal-content-wrap {
	background: #eee;
	padding: 20px;
	border: 1px solid #999;
}

.popx-position-right-bottom .popx-modal-top-inner,
.popx-position-right-top .popx-modal-top-inner,
.popx-position-left-top .popx-modal-top-inner,
.popx-position-left-bottom .popx-modal-top-inner {
	transform: none !important;
    position: fixed !important;
}
.popx-position-right-bottom .popx-modal-top-inner {
	left: auto;
    right: 17px;
    bottom: 15px;
    top: auto;
}
.popx-position-right-top .popx-modal-top-inner {
	right: 17px;
    bottom: auto;
    top: 24px;
    left: auto;
}
.popx-position-left-top .popx-modal-top-inner {
	right: auto;
    bottom: auto;
    top: 24px;
    left: 8px;
}
.popx-position-left-bottom .popx-modal-top-inner {
	right: auto;
    bottom: 10px;
    top: auto;
    left: 15px;
}
.popx-position-center .popx-modal-top-inner {
	top: 50%;
    transform: translate(-50%, -50%) !important;
    left: 50%;
    position: fixed;
}
.popx-modal-show {
	visibility: visible;
	opacity: 1;
}